/*
main color theme (from darkest to lightest):

#494259 // dark purple-black
#8c426b // violet
#a6808a // old rose
#bfbaa8 // beige
#f2f2f0 // off-white

*/

/* whole page */
html {
    font-family: "JetBrains Mono";
}

/* nav bar and footer specific */
nav {
    background-color: #f2f2f0;
    color: #494259;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: #f2f2f0;
}

nav .btn {
    background-color: #494259;
    float: right;
    padding: 15px;
    margin: 5px;
    border-radius: 15px 50px 30px;
}

nav .btn:hover {
    background-color: #8c426b;
}